<div class="container">
  <div class="jumbotron">
    <h1>Make a doctor's appointment in 4 simple steps</h1>
  </div>
  <div class="content">
    <div id="patient">
      <h2>For the patient</h2>
      <p>You can easily send a visit request directly to the doctor.
      Keep track of all your visits and rate your doctor to help out others in making their choice.</p>
      <div>
        <mat-form-field>
          <label for="email">Email</label>
          <input matInput name="text" [(ngModel)] = "patientEmail"/>
        </mat-form-field>
      </div>
      <button class="actionBtn" (click) = "getStarted()" (mouseenter)="landing1()" (mouseleave)="landing()"
      [disabled] = "!patientEmail">
        Get started!
      </button>
    </div>
    <div id="doctor">
      <h2>For the doctor</h2>
      <p>Manage all your visits in one place. Your dashboard and personal calendar will keep you informed and up to date.
      Sign up and use our service anywhere, anytime you want.</p>
      <div>
        <mat-form-field>
          <label for="Id">Doctor Id</label>
          <input matInput name="text" [(ngModel)] = "doctorId"/>
        </mat-form-field>
      </div>
      <button class="actionBtn" (mouseenter)="landing3()" (mouseleave)="landing()"
      [disabled] = "!doctorId" (click) = "loginDoctor()">
        Sign up!
      </button>
    </div>
  </div>
</div>
